@font-face {
    font-family: MyriadPro; /* Имя шрифта */
    src: url(../fonts/MyriadProRegular/MyriadProRegular.ttf); /* Путь к файлу со шрифтом */
}

* {
    padding: 0;
    margin: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Tahoma, Arial, sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.container {
	max-width: 1100px;
	padding: 0 20px;
	margin: 0 auto;
}

.header {
    width: 100%;
    position: relative;
    height: 650px;
    background: url('../img/header/main.jpg') 100% 100% no-repeat;
    background-size: cover;
}

.top-header {
    width: 100%;
    background: rgba(36, 35, 33, 0.5);
    position: fixed;
    z-index: 50000;
}

.top-header__menu {
    float: right;
    margin-top: 10px;
}

.logo {
    width: 100px;
    background-color: rgb(239, 1, 17);
    border-radius: 3px;
    margin: 5px 0;
    display: inline-block;
}

.menu__item {
    float: left;
    position: relative;
    padding: 10px 5px;
    margin: 0 5px;
    font-family: Helvetica;
    font-size: 85%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu__item:hover {
    /*text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);*/
    color: #ef0111;
}

.tagline-wrapper {
    display: inline-block;
    margin: 0 auto;    
    position: absolute;
    top: 40%;
    left: 30%;

}

.tagline {
    font-size: 350%;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    animation-duration: 4s;
    text-align: center;
}

.tagline__reddino {
    color: #ef0111;
}

.tagline__web {
    color: #f1f2f1;
    font-size: 200%;
    text-align: center;
}

.logo {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.logo:hover {
    -webkit-transform: scale(1.1, 1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.1, 1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

/*<=========БЛОК УСЛУГИ==========>*/

.techno {
  	display: inline-block;
  	color: #3f373c;
  	text-align: center;
}

.techno__abilities {
  	padding: 7em 0 5em;
    align-items: center;
  	position: relative;;
  	font-size: 100%;
}
.techno__abilities__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.techno__title {
  	margin: 1% 0.5%;
  	font-size: 230%;
}
.logo--techno {
    width: 120px;
    margin: 1% 0.5%;
}
.techno__title span {
  	font-family: Abeatbykai;
  	font-weight: bold;
  	color: #ef0111;
}

.techno__paragraph {
  	font-size: 125%;
  	margin: 0 auto;
}

.techno__serv__item {
    width: 31%;
    margin: 0 1%;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    *display: inline;
    vertical-align: top;
}

@media (max-width: 936px) {
    .techno__serv__item {
        width: 47%;
    }}

@media (max-width: 510px) {
    .techno__serv__item {
        width: 97%;
    }}

.techno__serv__item h2 {
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  	 font-size: 120%;
     font-weight: bold;
}

.techno__img {
  	width: 135%;
  	height: auto;
}
.techno__serv {
    margin: 3em 1em;
    padding: 3em 1em;
    border-top: 1px solid #828c8f;
    border-bottom: 1px solid #828c8f;
}
.techno__paragraph__heading {
      color: #828c8f;
      font-size: 1.25em;
      font-style: italic;
      font-family: Georgia;
      text-align: center;
}
.techno__paragraph__heading--author {
  margin-top: 20px;
  font-size: 1em;
}
.techno__paragraph__heading--author::before {
  content: '\2014 \00A0';
}

/* ABOUT */

.about {
    background: url(../img/bg-image.jpg) no-repeat;
    background-size: cover;
}

.background {
    background-color: rgba(35, 35, 35, 0.85);
    padding: 50px 0;
}

.about__container h2 {
    color: rgb(239, 1, 17);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 50px;
    font-family: MyriadPro;
}

.about__header {
    color: #fff;
}

.about__item {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.about__item__empty-block {
    width: 37%;
    margin-left: 30px;
}

.about__item__empty-block--right {
    margin-left: 0;
    margin-right: 30px;
}

.about__item__circle {
/*     width: 25%; */
    width: 140px;
    height: 140px;
    margin: 0 40px;
    background-color: rgb(239, 1, 17);
    border-radius: 70px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.about__item__circle p {
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em
}

.about__item__content {
    width: 37%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: MyriadPro;
    font-size: 20px;
}

.about__item__content--left {
    margin-right: 0;
    margin-left: 30px;
    font-family: MyriadPro;
    font-size: 20px;
}

.about__divline {
    height: 100px;
    border-right: 1px solid gray;
    width: 50%;
    margin: 25px 0;
}

/* BLOG */
.blog {
    width: 100%;
    background: #fff;
    padding: 150px 0;
}

.blog__container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.blog__container h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
    font-family: MyriadPro;
}

.blog__container h3 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
    font-family: MyriadPro;
}

.wrapper-jcarousel {
    max-width: 900px;
    height: 450px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.jcarousel-step {
    list-style-type: none;
    float: left;
    width: 300px;
    height: 450px;
    margin-right: 0px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
}

.wraper-jcarousel__step {
    padding: 0px 18px;
}

.jcarousel-arrow {
    position: absolute;
    top: 60%;
    width: 30px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    background: url("../img/blog/arrow-sprite.png"); 
}

.jcarousel-prev {
    right: 0;
}

.jcarousel-next {
    left: 0;
    background-position: 0px 56px; 
}

.jcarousel__step-img {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 5px;
}

.jcarousel__step-content {
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    margin: 15px 0px;
    padding: 0 20px;
}

.jcarousel__step-title {
    color: #000;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    display: inline-block;
}

.jcarousel__step-info {
    text-align: justify;
}



/* FEEDBACK */

.feedback {
margin-top: 3em;
background: #121212;
font-family: Helvetica;
}

.feedback__container {
    max-width: 1100px;
    margin: 0 auto;
}

.feedback__box {
    padding: 50px 0;
    text-align: center;
    box-sizing: border-box;
}

.feedback__box h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
}

.feedback__box p {
    font-size: 20px;
    color: #fff;
}

#feedback__button {
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 40px auto;

    text-transform: uppercase;
    color: #fff;

    cursor: pointer;
    -webkit-transition: all .15s linear;
}

#feedback__button:hover {
   border: 2px solid rgb(239, 1, 17);
}

.feedback__header {
    color: #fff;
    text-transform: uppercase;
}

.feedback__paragraph {
    width: 77%;
    margin: 20px auto 10px auto;
    color: #fff;
    position: relative;
}

.feedback__mail {
    height: auto;
    width: 100%;
    min-width: 400px;
    padding: 20px 0;
    text-align: center;
    display: none;
    background: rgba(36, 35, 33, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60000;
}

.feedback__form {
    width: 50%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: rgba(54,54,54,1);
    background: -moz-linear-gradient(left, rgba(54,54,54,1) 0%, rgba(102,110,112,1) 50%, rgba(54,54,54,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,54,54,1)), color-stop(50%, rgba(102,110,112,1)), color-stop(100%, rgba(54,54,54,1)));
    background: -webkit-linear-gradient(left, rgba(54,54,54,1) 0%, rgba(102,110,112,1) 50%, rgba(54,54,54,1) 100%);
    background: -o-linear-gradient(left, rgba(54,54,54,1) 0%, rgba(102,110,112,1) 50%, rgba(54,54,54,1) 100%);
    background: -ms-linear-gradient(left, rgba(54,54,54,1) 0%, rgba(102,110,112,1) 50%, rgba(54,54,54,1) 100%);
    background: linear-gradient(to right, rgba(54,54,54,1) 0%, rgba(102,110,112,1) 50%, rgba(54,54,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#363636', GradientType=1 );

    -webkit-box-shadow: 0px 0px 10px 2px rgba(20,18,20,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(20,18,20,1);
    box-shadow: 0px 0px 10px 2px rgba(20,18,20,1);
}

@media (max-width: 936px) {
    .feedback__form {
        width: 70%;
    }}

@media (max-width: 510px) {
    .feedback__form {
        width: 100%;
    }
}

.feedback__close {
    height: 0px;
    margin-right: 20px;
    text-align: right;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}


#name, #email, #tel, #message {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    background: #fff;
    padding-left: 10px;

    border: 1px solid #737373;
    border-radius: 5px;

    font-size: 16px;
}

#message {
    height: 200px;
    padding-top: 0.5em;
}

#name:focus, #email:focus, #tel:focus, #message:focus {
    border: 1px solid black;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: rgba(54,54,54,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: Helvetica;
}

::-moz-placeholder  {
    color: rgba(54,54,54,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: Helvetica;
}  /* Firefox 19+ */

:-moz-placeholder {
    color: rgba(54,54,54,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: Helvetica;
}  /* Firefox 18- */

:-ms-input-placeholder {
    color: rgba(54,54,54,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: Helvetica;
}

::placeholder {
   color: rgba(54,54,54,0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: Helvetica;
}

#submitbtn {
    width: 85%;
    height: 40px;
    margin: 20px auto;

    background: rgb(239, 1, 17);
    border: none;
    border-radius: 5px;

    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#submitbtn:active {
    background: rgba(36, 35, 33, 0.8);
}
/* END OF FEEDBACK */


/*<=======FOOTER============>*/

.footer {
    clear: both;
    background: url("../img/lets-get-social.jpg");
    background-size: cover;
    color: #f8f9fa;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}

.social-links {
    color: white;
    height: 200px;
    padding: 100px 0;
}

.social, .text-box {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    display: inline-block;
    text-align: center;
}

@media (max-width: 510px) {
    .social, .text-box {
        width: 100%;
        padding: 10px;
    }
    .social-links {
        padding: 40px 0;
    }
}

.social-links a {
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    -webkit-transition: all .15s linear;
    line-height: 80px;
    border: white 2px solid;
    color: white;
}

.social-links a:hover{
    color: #ef0111;
    border: #ef0111 2px solid;
}

.social-links a img {
    max-width: 70px;
    margin: 0 20px;
}

.social p {
    font-family: Helvetica;
    word-wrap: break-word;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-size: 20px;

}

.text-box {
    text-align: left;
}

.text-box p {
    font-family: Helvetica;
    word-wrap: break-word;
    font-size: 17px;

}

.copyright {
    background-color: #121212;
    text-align: center;
    padding: 10px;
}

.about_us {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    color: #3f373c;
    margin-bottom: 20px;
}

.about_us img{
    width: 49%;
    float: left;
    margin: 0 20px 20px 0;
}
.about_us h1{
    text-align: center;
    font-size: 40px;
    padding: 10px;

}
.about_us p {
  text-indent: 3%;
  padding-top: 1em;
}
.about_us div{
    font-size: 17px;
    display: inline;
    text-align: justify;
    color: #3f373c;
}

@media (max-width: 510px) {
    .about_us img {
        width: 100%;
    }}
    /*<========SECTION LEARNING========>*/
    .learning {
      padding: 1%;
    }
    .learning img {
      max-width: 50%;
    }

    .learning p {
      font-size: 17px;
      display: inline;
      text-align: justify;
      text-indent: 3%;
      padding: 20px;
      color: #3f373c;
    }

    .learning {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    @media (max-width: 510px) {
      .learning {
        display: inline-block;
      }
      .learning img {
        max-width: 100%;
      }
    }
